<section>
  <div class="body">
    <div class="head d-flex justify-content-between align-items-center">
      <h1>Featured resources</h1>
      <button class="btn">All resources</button>
    </div>
    <div class="sliads d-flex">
      <div class="sliad" *ngFor="let sliad of sliades">
        <div class="img">
          <img src="{{imgSrc}}" alt="">
        </div>
        <div class="span">
          <span>{{sliad.span}}</span>
        </div>
        <p>{{sliad.prag}}</p>
      </div>
    </div>
  </div>
</section>
