<section>
  <div class="body">
    <div class="head d-flex justify-content-between align-items-center">
      <h1>Featured resources</h1>
      <button class="btn">All resources</button>
    </div>
    <div class="sliads d-flex">
      <div class="sliad">
        <div class="img">
          <img src="../../assets/11.jpg" alt="">
        </div>
        <div class="span">
          <span>Update</span>
        </div>
        <p>Apolian Spotlight: Ashley Kalila Meijer</p>
      </div>
      <div class="sliad">
        <div class="img">
          <img src="../../assets/11.jpg" alt="">
        </div>
        <div class="span">
          <span>Update</span>
        </div>
        <p>Simplifying Wedding Planning with Process Mining: Real-Life Case</p>
      </div>
      <div class="sliad">
        <div class="img">
          <img src="../../assets/11.jpg" alt="">
        </div>
        <div class="span">
          <span>Update</span>
        </div>
        <p>Celonis Payment Term Checker</p>
      </div>
    </div>
  </div>
</section>
