header {
  background: linear-gradient(#f4acb7,#0b2545);
}
header .header {
  padding: 0px 50px;
}
header .header h1 {
  margin-top: -97px;
  font-size: 105px;
  font-weight: bold;
  color: #f7fafa;
}
header .header .text {
  margin-top: 50px;
}
header .header .text button {
  width: 85px;
  border: 4px solid #f7fafa;
  border-radius: 20px;
  margin-right: 60px;
  max-height: 80px;
}
header .header .text button i {
  color: #f7fafa;
  font-size: 30px;
}
header .header .text .prag  {
  font-size: 30px;
  font-weight: 500;
  color: #f7fafa;
  width: 600px;
  line-height: 50px;
}
header .header .bottom {
  padding-left: 145px;
  margin-top: 30px;
}
header .header .bottom p {
  color: #f7fafa;
}
header .header .bottom .button2 {
  background: #0b2545;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 100px;
  transition: 0.2s all ease-in-out;
}
header .header .bottom .button2:hover {
  background: rgba(199,219,230,.062745098);
  backdrop-filter: blur(15px) brightness(105%);
}
header .header .bottom .button2 button:hover {
  color: #0b2545;
}
header .header .bottom .button2 button {
  color: #f7fafa;
  font-size: 25px;
  width: 200px;
  height: 60px;
  text-align: center;
  font-weight: 500;
}
