<footer>
  <div class="body">
    <div class="logo">
      <img src="../../assets/apolix_bv_logo.jpg" alt="">
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="prag">
          <p>Take your processes to the next dimension</p>
        </div>
        <div class="content">
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-mobile-screen-button"></i>
            <p>+31 10 880 00 80</p>
          </div>
          <div class="d-flex align-items-center">
            <i class="fa-solid fa-envelope"></i>
            <p>welcomeapolix.global</p>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <ul class="ul1">
          <li>Process Mining</li>
          <li>Solutions</li>
          <li>Company</li>
          <li>Careers</li>
          <li>Contact</li>
          <li>FAQ</li>
        </ul>
      </div>
      <div class="col-md-3">
        <ul class="ul2">
          <li>Accounts Payable</li>
          <li>Accounts Receivable</li>
          <li>Coustomar Service</li>
          <li>Order Management</li>
          <li>Procurement</li>
        </ul>
      </div>
      <div class="col-md-2">
        <div class="last">
          <img src="../../assets/celonis.svg" alt="">
        </div>
      </div>
    </div>
    <div class="end d-flex align-items-center justify-content-between">
      <div class="d-flex align-items-center">
        <p>Privacy</p>
        <p>Terms</p>
        <p>FAQ</p>
      </div>
      <div class="d-flex align-items-center">
        <p>Youtube</p>
        <p>Linkedin</p>
      </div>
    </div>
  </div>
</footer>
