<section>
  <div class="body">
    <div class="rotate">
      <span class="num">7</span> Related <span>cases</span>
    </div>
    <div class="text-center text">
      <h5>Process mining solutions</h5>
      <p>We excel in these departments</p>
    </div>
    <div class="slider" >
      <img *ngIf="showImage" class="mouse-pointer" src="../../assets/11.jpg" alt="">
      <div class="d-flex">
        <div class="slid" (mouseover)="showpic(true)" (mouseleave)="showpic(false)">
          <div class="content d-flex">
            <div><span>01</span></div>
            <div><i class="fa-solid fa-rocket rocket" style="color: #6d6cf1;"></i></div>
            <div>
              <h5>Accounts Payable</h5>
            </div>
          </div>
        </div>
        <div class="slid" (mouseover)="showpic(true)" (mouseleave)="showpic(false)">
          <div class="content d-flex">
            <div><span>02</span></div>
            <div><i class="fa-solid fa-rocket rocket" style="color: #6d6cf1;"></i></div>
            <div>
              <h5>Accounts Receivable</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="slid" (mouseover)="showpic(true)" (mouseleave)="showpic(false)">
          <div class="content d-flex">
            <div><span>03</span></div>
            <div><i class="fa-solid fa-rocket rocket" style="color: #6d6cf1;"></i></div>
            <div>
              <h5>Procurement</h5>
            </div>
          </div>
        </div>
        <div class="slid" (mouseover)="showpic(true)" (mouseleave)="showpic(false)">
          <div class="content d-flex">
            <div><span>04</span></div>
            <div><i class="fa-solid fa-rocket rocket" style="color: #6d6cf1;"></i></div>
            <div>
              <h5>Order Management</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="d-flex">
        <div class="slid" (mouseover)="showpic(true)" (mouseleave)="showpic(false)">
          <div class="content d-flex">
            <div><span>05</span></div>
            <div><i class="fa-solid fa-rocket rocket" style="color: #6d6cf1;"></i></div>
            <div>
              <h5>Customer Service</h5>
            </div>
          </div>
        </div>
        <div class="slid" (mouseover)="showpic(true)" (mouseleave)="showpic(false)">
          <div class="content d-flex">
            <div><span>06</span></div>
            <div><i class="fa-solid fa-rocket rocket" style="color: #6d6cf1;"></i></div>
            <div>
              <h5>Opportunity Management</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="slid l-slid" (mouseover)="showpic(true)" (mouseleave)="showpic(false)">
        <div class="content d-flex">
          <div><span>07</span></div>
          <div><i class="fa-solid fa-rocket rocket" style="color: #6d6cf1;"></i></div>
          <div>
            <h5>Manuacturing</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
