<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand logo c-white" href="#">apolix</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link c-white" routerLinkActive="c-white" href="#" role="hover" data-bs-toggle="dropdown"
            aria-expanded="false">
            Process Mining
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">What is Process <br> Mining</a></li>
            <li><a href="#">Demo</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link c-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Solutions
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link c-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Careers
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">Careers</a></li>
            <li><a href="#">Culture</a></li>
            <li><a href="#">Job openings</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link c-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Company
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">About us</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link c-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Resources
          </a>
          <ul class="dropdown-menu">
            <li><a href="#">White Paper</a></li>
          </ul>
        </li>
      </ul>
      <div class="button">
        <button class="btn">Schedule a demo</button>
        <img src="../../assets/team-01.png" alt="">
      </div>
    </div>
  </div>
</nav>
