<section>
  <div class="body d-flex align-items-center">
    <div class="text">
      <h3>Reach new levels of performance with process mining</h3>
      <div class="d-flex align-items-center">
        <div>
          <div class="div2"></div>
        </div>
        <p>Fill in your information and we will be in touch shortly.</p>
      </div>
    </div>
    <div class="forms">
      <div class="form">
        <div class="d-flex">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="name" class="form-control" id="name" placeholder="Name">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Email">
          </div>
        </div>
        <label class="form-label" for="floatingTextarea">Tell us more</label>
        <div class="form-floating">
        <textarea class="form-control" placeholder="Message" id="floatingTextarea"></textarea>
        </div>
        <button class="btn">Send Message</button>
      </div>
    </div>
  </div>
</section>
