<section>
  <div class="body">
    <div class="head">
      <p>Achieve <span class="span1">transparent</span> and <span class="span2">efficient</span> processes through
        process mining</p>
    </div>
    <div class="d-flex justify-content-between align-items-center p-arrow">
      <p>Have a look at our</p>
      <div class="arrow">
        <i class="fa-solid fa-arrow-left"></i>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <div class="cards d-flex">
      <div class="card"  class="item">
        <div class="text">
          <i class="fa-solid fa-rocket rocket" style="color: #74C0FC;"></i>
          <h4>Customer success stories</h4>
          <p>Find inspiration in our customer succes stories. We have extensive process and industry knowledge.</p>
          <div class="right">
            <i class="fa-solid fa-arrow-right right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="text">
          <i class="fa-solid fa-rocket rocket" style="color: #74C0FC;"></i>
          <h4>Customer success stories</h4>
          <p>Find inspiration in our customer succes stories. We have extensive process and industry knowledge.</p>
          <div class="right">
            <i class="fa-solid fa-arrow-right right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="text">
          <i class="fa-solid fa-rocket rocket" style="color: #74C0FC;"></i>
          <h4>Customer success stories</h4>
          <p>Find inspiration in our customer succes stories. We have extensive process and industry knowledge.</p>
          <div class="right">
            <i class="fa-solid fa-arrow-right right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="text">
          <i class="fa-solid fa-rocket rocket" style="color: #74C0FC;"></i>
          <h4>Customer success stories</h4>
          <p>Find inspiration in our customer succes stories. We have extensive process and industry knowledge.</p>
          <div class="right">
            <i class="fa-solid fa-arrow-right right"></i>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="text">
          <i class="fa-solid fa-rocket rocket" style="color: #74C0FC;"></i>
          <h4>Customer success stories</h4>
          <p>Find inspiration in our customer succes stories. We have extensive process and industry knowledge.</p>
          <div class="right">
            <i class="fa-solid fa-arrow-right right"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
