<section>
  <div class="body">
    <div class="head">
      <p>Achieve <span class="span1">transparent</span> and <span class="span2">efficient</span> processes through
        process mining</p>
    </div>
    <div class="d-flex justify-content-between align-items-center p-arrow">
      <p>Have a look at our</p>
      <div class="arrow">
        <i class="fa-solid fa-arrow-left"></i>
        <i class="fa-solid fa-arrow-right"></i>
      </div>
    </div>
    <owl-carousel-o [options]="customOptions">
      <ng-container *ngFor="let slide of slides">
        <ng-template  carouselSlide [id?]="slide.id" >
          <div class="slides">
          <div class="ng-container">
            <div class="text">
              <i class="fa-solid fa-rocket rocket" style="color: #74C0FC;"></i>
              <h4>{{slide.title}}</h4>
              <p>{{slide.prag}}</p>
              <div class="right">
                <i class="fa-solid fa-arrow-right right"></i>
              </div>
            </div>
          </div>
          </div>
        </ng-template>
      </ng-container>

    </owl-carousel-o>
  </div>
</section>
