<section>
  <div>
    <div class="row">
      <div class="col-md-6">
        <div class="sliders">
          <div class="img">
            <img src="../../assets/95462-صورة-رائد-الفضاء-الجديدة.png">
          </div>
          <div class="slider">
            <div class="slide">
              <p>CUSTOMERS GIVE US AN</p>
              <span>8.8</span>
              <p>OUT OF 10</p>
            </div>
            <div class="slide">
              <p>MORE THAN</p>
              <span>€ 12 mil.</span>
              <p>VALUE REALISED</p>
            </div>
            <div class="slide">
              <p>MORE THAN</p>
              <span>110</span>
              <p>PROCESS IMPLEMENTATIONS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="text">
          <h5 >About us</h5>
        </div>
        <div class="prag">
          <p>We reveal and fix invisible process inefficiencies</p>
        </div>
        <div class="prag2">
          <p>
            Organisations run their processes through hundreds of IT-systems. This leaves space for many inefficiencies.
            Inefficiencies that hurt your business. Through process mining we identify and fix those inefficiencies. Apolix is your
            one-stop shop for process improvement.
          </p>
        </div>
        <div class="buttons d-flex">
          <button class="btn one c-white">More about us</button>
          <button class="btn two c-white">Careers</button>
        </div>
      </div>
    </div>
  </div>
</section>
