body {
  margin: 0;
  padding: 0;
  background: #c7dbe6;
  font-weight: 400;
  line-height: 1.5;
  color: #0b2545;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Object Sans", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}
.c-white {
  color: #c7e0ee;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
